*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: lightcyan;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: lightgreen;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


/* #box{
    height: 300px;
    width: 300px;
    background-color: red;
} */

#page2 h1{
    font-size: 40vw;
    font-weight: 400;
    text-transform: uppercase;
}